.profile {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid black;
  width: 250px;
  height: 400px;
  background-color: grey;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: 2px solid orange;
  padding: 0;
}

.description {
  height: 250px;
}

.avatar {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: block;
  border: 50%;
}

.name {
  color: white;
  text-align: center;
  margin: 5px;
}

.tag {
  color: white;
  text-align: center;
  margin: 5px;
}

.location {
  color: white;
  text-align: center;
  margin: 5px;
}

.stats {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.label {
  color: white;
}

.quantity {
  display: block;
  color: orange;
}

.list__item {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
