.section {
  display: block;
  width: 300px;

  margin: 35px 0;
  margin-left: auto;
  margin-right: auto;
}
.container {
  background-color: grey;
  border-radius: 8px;
  border: 2px solid black;
  outline: 2px solid orange;
  width: 300px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 0;
  height: 50px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: grey;
  margin: 0;
  width: 300px;
  padding: 0;
  color: white;
  border-radius: 8px;
}
.list__item {
  margin: 10px;
}
.percentage {
  display: block;
  padding-top: 10px;
  color: orange;
}
