.list {
  list-style: none;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  border: 2px solid black;
  outline: 2px solid orange;
  border-radius: 8px;
}

.item {
  gap: 15px;
}
